<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tracked</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

<!-- <h4>This is my homepage</h4>
 -->

<% if user_signed_in? %>
	<a class="waves-effect waves-light btn" href="/companies/new">Create Company</a>

  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>