<h4>This is my homepage</h4>


<% if user_signed_in? %>
	<a class="waves-effect waves-light btn" href="/companies/new">Create Company</a>

  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>