<!-- <h4>This is my homepage</h4>
 -->
 <%if user_signed_in? && !Company.exists?(:user_id => current_user.id)%>
 <section>
  <div class="row">
      <div class="slider">
       <ul class="slides">
				<li>
					<%=image_tag("businesswoman.jpg")%>
					<div class="caption center-align" style="background-color: rgba(0,0,0,0.7); margin-top: 120px; border: solid black; padding: 15px;">
						<div class="row">
							<div class="col m6 s12">
								<h5>Get Started By Creating a Company</h5>
								<a class="waves-effect waves-light btn light-blue darken-1" href="/companies/new">Create Company</a>
							</div>
							<div class="col m6 s12">
								<h5>Or Search to Join an Existing Company</h5>
								<a class="waves-effect waves-light btn disabled" href="#">Coming Soon</a>

							</div>
						</div>
          </div>
				</li>
				</ul>
				</div>
				</div>
				</section>
				<div class="container">
				<div class="section">
		 
					<!--   Icon Section   -->
					<div class="row">
						<div class="col s12 m4">
							<div class="icon-block">
								<h2 class="center light-blue-text text-darken-1"><i class="fa fa-line-chart fa-2g" aria-hidden="true"></i></h2>
								<h5 class="center">Track KPIs</h5>
								<p class="light">Companies, teams, and employees create and manually update KPI performance to ensure ownership and retention.</p>
							</div>
						</div>
		 
						<div class="col s12 m4">
							<div class="icon-block">
								<h2 class="center light-blue-text text-darken-1"><i class="fa fa-flag fa-2g" aria-hidden="true"></i></h2>
								<h5 class="center">Set Goals</h5>
								<p class="light">Time-based KPI goals empower recognition of positive performance and helps diagnose under performance.</p>
							</div>
						</div>
		 
						<div class="col s12 m4">
							<div class="icon-block">
								<h2 class="center light-blue-text text-darken-1"><i class="fa fa-users fa-2g" aria-hidden="true"></i></h2>
								<h5 class="center">Achieve Transparency</h5>
		 
								<p class="light">All KPIs charted all in one place for every team member and team lead to company-wide transparency.</p>
							</div>
						</div>
					</div>
		 
				</div>
				<br><br>
			</div>
 <%end%>


<script type="text/javascript">
	$(document).ready(function () {
	    // Plugin initialization
			$('.slider').slider({height: 600});
			$('.indicators').remove();
	})
</script>