<nav>
	<div class="nav-wrapper teal lighten-2">
		<div class="col s12">
			<a href="<%=company_path(@company)%>" class="breadcrumb avatar valign-wrapper">
				<%= image_tag @company.avatar, :class => "circle responsive-img", :style => "width: 50px; height: 50px;"%>
				<%=@company.name%>
			</a>
		</div>
	</div>
</nav>