<nav>
		<div class="nav-wrapper teal lighten-2">
			<div class="col s12">
				<a href="<%=company_path(@company)%>" class="breadcrumb avatar valign-wrapper">
					<img src="https://vignette.wikia.nocookie.net/logopedia/images/5/59/Coca-Cola_logo_2007.jpg" alt="" class="circle responsive-img" style="width: 50px; height: auto;">
					<%=@company.name%>
				</a>
			</div>
		</div>
	</nav>