<nav class="cyan darken-1">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">KpiTrackr</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="badges.html">Dashboard</a></li>
        <li><a href="collapsible.html">My Info</a></li>
      </ul>
    </div>
  </nav>