<nav class="light-green lighten-2">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">KpiTrackr</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="badges.html">Dashboard</a></li>
        <li><a href="collapsible.html">My Info</a></li>
        <% if user_signed_in?%>
          <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
          </li>
        <% else %>
          <li>
          <%= link_to('Login', new_user_session_path)  %>  
          </li>
        <% end %>
      </ul>
    </div>
  </nav>