<section>
  <div class="row">
      <div class="slider">
       <ul class="slides">
        <li>
          <img src="https://images.unsplash.com/photo-1531347334762-59780ece5c76?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3aa758a9b1b434385c141282b182c679&auto=format&fit=crop&w=1868&q=80"> <!-- random image -->
          <div class="caption center-align">
            <h3 style="color: #1455A7 !important;">KPIS MADE TO CHANGE</h3>
            <h5 style="color: #1455A7 !important;">"Consistency is the hobgoblin of little minds."<br>-Ralph Emerson</h5>
          </div>
        </li>
        <li>
           <img src="https://images.unsplash.com/photo-1515155083445-24b263fed64e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b1b51892c183501a82d4f51bc19629cf&auto=format&fit=crop&w=1334&q=80">
           <div class="caption center-align">

             <h3>CLARITY THROUGH</h3>
             <h5 class="light grey-text text-lighten-3">DATA-DRIVEN COLLABORATION</h5>
           </div>
         </li>
         
         <li>
           <img src="https://images.unsplash.com/photo-1532635236-d50c8592eb08?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd36e5e9c3359030e0202c7939406610&auto=format&fit=crop&w=1398&q=80"> <!-- random image -->
           <div class="caption center-align">
             <h3>METRICS FOR THE PEOPLE</h3>
             <h5 class="light grey-text text-lighten-3">BY THE PEOPLE</h5>
           </div>
         </li>
         
         
       </ul>
      </div>
  </div>
  </section>

<!--   https://images.unsplash.com/photo-1532635250-b3c02e58a2fd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=baf49db264b459cbd010ed7c786f8d25&auto=format&fit=crop&w=1316&q=80 -->